<!doctype html>
<html lang="en">
    <head>
        
      
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-size: cover;
        background-position: center;
        background-color: #2f4673;background-image: linear-gradient(225deg, #2f4673 0%, #300754 50%, #0f4164 100%);
       font-family:'Times New Roman', Times, serif;


    }

    .box {
        position: relative;
        width: 380px;
        height: 420px;
        background: #0e0a14;
        border-radius: 8px;
        overflow: hidden;
    }

    .box::before {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 380px;
        height: 420px;
        background: linear-gradient(0deg, transparent,
        transparent, #45f3ff, #45f3ff, #45f3ff);
        z-index: 1;
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
    }
    
    .box::after {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 380px;
        height: 420px;
        background: linear-gradient(0deg, transparent,
        transparent, #45f3ff, #45f3ff, #45f3ff);
        z-index: 1;
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
        animation-delay: -3s;
    }

    .borderline {
        position: absolute;
        top: 0;
        inset: 0;
    }
    .borderline::before {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 380px;
        height: 420px;
        background: linear-gradient(0deg, transparent,
        transparent, #ff2770, #ff2770, #ff2770);
        z-index: 1;
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
        animation-delay: -1.5s; 
    }

    .borderline::after {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 380px;
        height: 420px;
        background: linear-gradient(0deg, transparent,
        transparent, #ff2770, #ff2770, #ff2770);
        z-index: 1;
        transform-origin: bottom right;
        animation: animate 6s linear infinite;
        animation-delay: -4.5s; 
    }

    @keyframes animate
    {
        0%
        {
            transform: rotate(0deg);
        }
        100%
        {
            transform: rotate(360deg);
        }
    }

    .box form {
        position: absolute;
        inset: 4px;
        background: #222;
        padding: 50px 40px;
        border-radius: 8px;
        z-index: 2;
        display: flex;
        flex-direction: column;

    }

    .box form h2 {
        color: #fff;
        font-weight: 500;
        text-align: center;
        letter-spacing: 0.1em;
    }

    .box form .inputbox input {
     position:absolute;
     width: 100%;   
     padding: 20px 10px 10px;
     background: transparent;
     outline: none;
     border: none;
     box-shadow: none;
     color: #23242a;
     font-size: 1em;
     letter-spacing: 0.05em;
     transition: 0.5s;
     z-index: 1;
     font-family: 'Times New Roman', Times, serif;
    }


    .box form .inputbox label
    {
        position:absolute;
        left: 0%;
        padding: 20px 10px 10px;
        pointer-events: none;
        color: #8f8f8f;
        font-size: 1em;
        letter-spacing: 0.05em;
        transition: 0.5s;
    }

</style>



            

    </head>
    <body>

      

          <div class="box">

            <span class="borderline"></span>

            
            

            

           
           
                <% if(session.user_id) { %>

                    
                    <a href="/logout" class="btn btn-primary">Cerrar Sesion</a>

                <% } else { %>

                    <div class="box">
                        <div class="card-header">Acceso</div>
                        <div class="inputbox">
                            <form method="post" action="/login">
                                <h2 class="text-left text-white"><b>ACCESO AL SISTEMA</b></h2>
                        <div class="inputbox">
                            <label class="text-align text-white">Correo</label>
                        </div>
                        <li><hr class="dropdown-divider"></li>
                        
                                <div class="mb-3">
                                    <input type="correo" name="correo" class="form-control" />
                                </div>
                                <div class="inputbox">
                                    <label class="text-white">Contraseña</label>
                                    <li><hr class="dropdown-divider"></li>
                                </div>
                                <div class="mb-3">
                                    <input type="password" name="clave" class="form-control" id="clave" />
                                </div>
                                <div class="mb-3">
                                    <input type="checkbox" onclick="myFunction()">
                                    <label class="text-white">Mostrar Contraseña<label>
                                </div>
                                <div class="mb-3">
                                    <input type="submit" class="btn btn-info" value="Ingresar" />
                                </div>
                            </form>
                        </div>
                    </div>

                <% } %>
                </div>
            </div>
        </div>
        <script>
            function myFunction() {
              var x = document.getElementById("clave");
              if (x.type === "password") {
                x.type = "text";
              } else {
                x.type = "password";
              }
            }
            </script>
    </body>
</html>