<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRO</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
 
</head>
<body>

    <div class="mb-3">
        <br><br>
        <input type="text" id="autocompleta_busqueda" class="form-control form-control-lg"
       placeholder="Digite el pais" />
        <span id="buscar_resultado"></span>
        </div> 

    <nav class="navbar navbar-dark bg-dark">
        <a href="/" class="navbar-brand">REGISTRO DE PAISES</a>
    </nav>


    <div class="container">
        <div class="row mt-5">
            <div class="col-md-10">
                <a href="/crearpais" class="btn btn-info"><i class='bx bxs-edit'>Crear</i></a>
                <table class="table table-light table-striped">
                    <thead class="thead-light">
                        <tr class="table-dark">
                           
                            <th scope="col">CODIGO</th> 
                            <th scope="col">NOMBRE</th>      
                        </tr>
                    </thead>
                    <tbody>
                        
                     <% results.forEach((pais)=> { %>                                     
                         <tr>
                            <td class="table-light"><%= pais.idpais%></td>
                            <td class="table-light"><%= pais.nombre%></td>
                            <td>
                               
                                <a href="/editarpais/<%= pais.idpais%>" class="btn btn-info btn-sm">Editar</a>
                                <a href="/deletepais/<%= pais.nombre%>" class="btn btn-danger">Eliminar</a>

                                
                     
                            </td>                          

                        </tr>
                    <% }) %>
                    </tbody>
                   


                    
                 </table>

            </div>
            
        </div>
    </div>
    
   
</body>
</html>

<script>

    function cargar_pais(query = '')
    {
    fetch('/get_pais?buscar_query='+query+'').then(function(response){ return response.json();
    }).then(function(responseData){
    var html = '<ul class="list-group">'; if(responseData.length > 0)
    {
    for(var count = 0; count < responseData.length; count++)
    {
    var regular_expression = new RegExp('('+query+')', 'gi');
    
    html += '<a href="#" class="list-group-item list-group-item-action" onclick="get_text(this)">'+responseData[count].categorias.replace(regular_expression, '<span class="text-primary fw-bold">$1</span>')+'</a>';
    }
    }
    else
     
    {
    html += '<a href="#" class="list-group-item list-group-item-action disabled">Registro No Encontrado</a>'; } html += '</ul>';
    
    document.getElementById('buscar_resultado').innerHTML = html;
    
    });
    }
    
    var buscar_elemento = document.getElementById("autocompleta_busqueda"); buscar_elemento.onkeyup = function(){
    var query = buscar_elemento.value;
    
    cargar_pais(query);
    
    };
    
    buscar_elemento.onfocus = function(){ var query = buscar_elemento.value;
    cargar_pais(query);
    
    };
    
    function cargar_texto(event)
    {
    var pais = event.textContent;
    
    console.log(pais);
    
    document.getElementById('autocompleta_busqueda').value = pais;
    
    document.getElementById('buscar_resultado').innerHTML = '';
    }
    
    </script>
    
   







